@font-face {
	font-family: "EBGaramond SC 08";
	font-display: swap;
	font-weight: normal;
	font-style: normal;
	src: local("EB Garamond SC 08"),
		url("./files/EBGaramondSC08-Regular.woff2") format("woff2"),
		url("./files/EBGaramondSC08-Regular.woff") format("woff");
}

@font-face {
	font-family: "EB Garamond SC 12";
	font-display: swap;
	font-weight: normal;
	font-style: normal;
	src: local("EB Garamond SC 12"),
		url("./files/EBGaramondSC12-Regular.woff2") format("woff2"),
		url("./files/EBGaramondSC12-Regular.woff") format("woff");
}

@font-face {
	font-family: "EB Garamond 08";
	font-display: swap;
	font-weight: normal;
	font-style: normal;
	src: local("EB Garamond 08"),
		url("./files/EBGaramond08-Regular.woff2") format("woff2"),
		url("./files/EBGaramond08-Regular.woff") format("woff");
}

@font-face {
	font-family: "EB Garamond 12";
	font-display: swap;
	font-weight: normal;
	font-style: normal;
	src: local("EB Garamond 12"),
		url("./files/EBGaramond12-Regular.woff2") format("woff2"),
		url("./files/EBGaramond12-Regular.woff") format("woff");
}

@font-face {
	font-family: "EB Garamond 12";
	font-display: swap;
	font-weight: normal;
	font-style: italic;
	src: local("EB Garamond 12"),
		url("./files/EBGaramond12-Italic.woff2") format("woff2"),
		url("./files/EBGaramond12-Italic.woff") format("woff");
}

@font-face {
	font-family: "EB Garamond 08";
	font-display: swap;
	font-weight: normal;
	font-style: italic;
	src: local("EB Garamond 08"),
		url("./files/EBGaramond08-Italic.woff2") format("woff2"),
		url("./files/EBGaramond08-Italic.woff") format("woff");
}

@font-face {
	font-family: "EB Garamond 12 All SC";
	font-display: swap;
	font-weight: normal;
	font-style: normal;
	src: local("EB Garamond 12 All SC"),
		url("./files/EBGaramond12-AllSC.woff2") format("woff2"),
		url("./files/EBGaramond12-AllSC.woff") format("woff");
}

@font-face {
	font-family: "EB Garamond Initials";
	font-display: swap;
	font-weight: normal;
	font-style: normal;
	src: local("EB Garamond Initials"),
		url("./files/EBGaramondInitials.woff2") format("woff2"),
		url("./files/EBGaramondInitials.woff") format("woff");
}

@font-face {
	font-family: "EB Garamond Initials Fill1";
	font-display: swap;
	font-weight: normal;
	font-style: normal;
	src: local("EB Garamond Initials Fill1"),
		url("./files/EBGaramondInitialsF1.woff2") format("woff2"),
		url("./files/EBGaramondInitialsF1.woff") format("woff");
}

@font-face {
	font-family: "EB Garamond Initials Fill2";
	font-display: swap;
	font-weight: normal;
	font-style: normal;
	src: local("EB Garamond Initials Fill2"),
		url("./files/EBGaramondInitialsF2.woff2") format("woff2"),
		url("./files/EBGaramondInitialsF2.woff") format("woff");
}
